# 컨테이너 설정
DB_CONTAINER=atlas-localdb
DB_HOST=localhost
DB_PORT=3306
DB_ROOT_USERNAME=root
DB_ROOT_PASSWORD=

# 모듈 공통 설정
DB_PASSWORD=
CRYPTO_SECRET_KEY=
JWT_SECRET=

# 모듈별 공통 설정
AUTH_DB_SCHEMA=ATF_AUTH
AUTH_DB_USERNAME=atf_auth_admin

CORE_DATA_DB_SCHEMA=ATF_CORE_DATA
CORE_DATA_DB_USERNAME=atf_core_data_admin

CUSTOMER_DB_SCHEMA=ATF_CUSTOMER
CUSTOMER_DB_USERNAME=atf_customer_admin
